#index {
	margin:0px;
	background-color:hsl(360,0%,96%);
	}


#headerindex{
	margin-top:-100px;
	max-width:1605px;
	height:640px;
	background-position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("images/header.jpg");
	box-shadow: 0px 0px 1px black
	}


.header{
	padding-bottom:250px;
	padding-top:390px;
	padding-left:300px;
	padding-right:300px;
  background-color:hsla(280,0%,10%,0.4); 
}

.willkommen{
	font-family:Snell Roundhand, cursive;
	font-size:44px;
	font-weight:400;
	text-align:center;
	color:hsl(280,0%,10%);
	padding-top:20px;
}

.bundb{
	font-family:Gill Sans, Helvetica, Arial, sans-serif;
	font-size:25px;
	font-weight:300;
	text-align: center;
	color:hsl(280,0%,10%);
	margin-top:-17px;
	margin-bottom:60px;
}

.beschreibungstext{
	font-family:Gill Sans, Helvetica, Arial, sans-serif;
	font-size:18px;
	font-weight:350;
	text-align:center;
	color:hsl(280,0%,10%);
}

.beschreibungstext1{
	padding-bottom:20px;
}

.beschreibungstext2{
	padding-bottom:10px;
}

.beschreibungstext3{
	padding-bottom:12px;
}

.beschreibungstext4{
	padding-bottom:12px;
}

.teamgruss{
	font-family:Gill Sans, Helvetica, Arial, sans-serif;
	font-size:18px;
	font-weight:500;
	text-align:center;
	padding-top:38px;
	color:hsl(280,0%,10%)
}

.galerieflex img{
	width:270px;
	height:203px;
}

.galerieflex{
	list-style:none;
	padding-right:115px;
	padding-left:115px;
	color:hsl(360,0%,96%);
	margin-top:55px;
	display:flex;
	flex-direction:row;	
	flex-wrap:wrap;
	justify-content:space-evenly
}

.galerieflexitem{
	margin-top:12px;
	margin-bottom:12px;
	margin-left:21.5px;
	margin-right:21.5px;
}

.indexende{
	display:flex;
	flex-direction:row;
	justify-content:center;
	color:hsl(280,0%,10%);

}

.indexende a{
	text-decoration:none;
	color:hsl(280,0%,10%);
	font-size:20px;
	font-weight:300;
	font-family:Gill Sans, Helvetica, Arial, sans-serif;
}

.indexkontakt{
	margin-left:150px;
	margin-right:150px;
	border:solid;
	border-width:1px;
	padding-top:16px;
	padding-bottom:16px;
	padding-left:50px;
	padding-right:50px;
	margin-bottom:35px;
	margin-top:40px;
}

.adresse{
	font-family:Gill Sans, Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight:500;
	text-align:center;
	padding-top:40px;
	color:hsl(280,0%,10%);
	background:hsl(360,0%,96%);
	padding-bottom:20px;
}

.adresse a{
	color:hsl(280,0%,10%);
	text-decoration:none;
}

#impressum{
	background-color:hsl(360,0%,96%);
	margin:0px;
}

.fließtext{
	font-family:Gill Sans, Helvetica, Arial, sans-serif;
	font-size:18px;
	font-weight:350;
	text-align:justify;
}

.textpositionkontakt{
	margin-left:270px;
	margin-right:350px;
}

.überschrift{
	font-weight:470;
	padding-bottom:4px;
	font-size:20px;	
}

.absatz{
	padding-bottom:28px;
}

.adresseblack{
	font-family:Gill Sans, Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight:500;
	text-align:center;
	padding-top:40px;
	color:hsl(360,0%,96%);
	background:hsl(280,0%,10%);
	padding-bottom:20px;
	margin-top:53px;
}

.adresseblack a{
	color:hsl(360,0%,96%);
	text-decoration:none;
}

.buttoncontainerblack{
	background:hsl(280,0%,10%);
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	padding-top:35px;
	padding-bottom:75px;
	margin-top:-3px;
	margin-bottom:100px;
}

.buttoncontainerblack a{
	text-decoration:none;
	color:hsl(360,0%,96%);
	font-size:20px;
	font-weight:250;
	font-family:Gill Sans, Helvetica, Arial, sans-serif;
}

.buttonblack{
	border:solid;
	border-width:0.5px;
	padding-top:16px;
	padding-bottom:16px;
	padding-left:50px;
	padding-right:50px;
	color:hsl(360,0%,96%)
}

.hotelnameblack {
	font-family:Gill Sans, Helvetica, Arial, sans-serif;
	font-size:32px;
	font-weight:400;
	text-align:center;
	border-bottom:solid;
	padding-bottom:50px;
	padding-top:66px;
	background:hsl(280,0%,10%);
	margin:0px;
}

.hotelnameblack a{
	text-decoration:none;
	color:hsl(360,0%,96%);
}

#kontakt{
	background-color:hsl(360,0%,96%);
	margin:0px;
}

#karte img{
	max-width:1005px;
	height:552px;
}

#karte{
	margin-left:270px;
	margin-right:350px;
	margin-top:10px;
	margin-bottom:60px;
}

#zimmer{
	background-color:hsl(360,0%,96%);
	margin:0px;
}

.buchenbutton a{
	text-decoration:none;
	color:hsl(360,0%,96%);
	font-size:20px;
	font-weight:250;
	font-family:Gill Sans, Helvetica, Arial, sans-serif;
	border:solid;
	border-width:1px;
	padding-top:16px;
	padding-bottom:16px;
	padding-left:50px;
	padding-right:50px;
	background-color:hsl(280,0%,10%);
}

.buchenbutton{
	margin-left:80px;
	margin-top:80px;
	margin-bottom:30px;
}

.zimmer img{
	width:860px;
	height:573px;
	margin-left:80px;
}

.hotelzimmer{
	display:flex;
	flex-direction:column;
}

.zimmer{
	color:hsl(280,0%,10%);
	background-color:hsl(360,0%,100%);
	padding-bottom:60px;
	padding-top:25px;
	margin-bottom:100px;
	margin-left:250px;
	margin-right:235px;
}

.textpositionzimmer{
	padding-bottom:25px;
	padding-left:80px;
	padding-right:90px;
}

#buchung{
	margin:0px;
	background-color:hsl(360, 0%, 96%);
}

.kalendercontainer{
	display:flex;
	flex-direction:row;	
	flex-wrap:wrap;
	justify-content:space-evenly;
	font-family:Gill Sans, Helvetica, Arial, sans-serif;
	font-size:18px;
	font-weight:350;
	margin-left:220px;
	margin-right:250px;
	margin-bottom:60px;
	color:hsl(280,0%,10%);
	background-color:hsl(360,0%,100%);
	padding-top:30px;
}

.kalenderitem{
	margin-top:12px;
	margin-bottom:30px;
	margin-left:21.5px;
	margin-right:21.5px;
}

.leer{
	color:hsl(360,0%,100%)
}

.titlebuchung{
	font-family:Gill Sans, Helvetica, Arial, sans-serif;
	font-size:24px;
	font-weight:300;
	padding-bottom:4px;
	margin-left:220px;
}

.formular{
	font-family:Gill Sans, Helvetica, Arial, sans-serif;
	font-size:18px;
	font-weight:350;
	text-align:justify;
	margin-left:220px;
	margin-right:330px;
}

.datum{
	width:25%;
}

input:focus {
  background-color:hsl(360,0%,92%);
}

input{
	border:solid;
	border-width:0.5px;
	border-color:hsl(280,0%,10%);
	height:35px;
	font-family:Gill Sans, Helvetica, Arial, sans-serif;
	font-size:18px;
	font-weight:400;
	width:97%;
	background-color:hsl(360,0%,100%)
}

#straße{
	width:98.4%;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:solid;
  border-radius: 0;
  font-family:Gill Sans, Helvetica, Arial, sans-serif;
	font-size:18px;
	font-weight:300;
	height:40px;
	border-width:0.5px;
	border-color:hsl(280,0%,10%);
	width:25%;
	background-color:hsl(360,0%,100%)
}

td {
  padding-bottom:12px;
}


input[type=submit] {
  background-color:hsl(280,0%,10%);
  color:hsl(360,0%,96%);

}

input[type=submit]:hover {
  background-color: hsl(280,0%,50%);
}

.anfragebutton a{
	text-decoration:none;
	color:hsl(360,0%,96%);
	font-size:20px;
	font-weight:250;
	font-family:Gill Sans, Helvetica, Arial, sans-serif;
	border:solid;
	border-width:1px;
	padding-top:16px;
	padding-bottom:16px;
	padding-left:50px;
	padding-right:50px;
	background-color:hsl(280,0%,10%);
}

.anfragebutton{
	margin-top:40px;
	margin-bottom:80px;
}

#gebucht{
	background-color:hsl(360,0%,96%);
	font-family:Gill Sans, Helvetica, Arial, sans-serif;
	font-size:28px;
	font-weight:300;
	text-align:center;
	color:hsl(280,0%,10%);
	margin-top:250px;
	margin-left:0px;
	margin-right:0px;
}

.überschriftgebucht{
	font-weight:400;
}

#umgebung{
	margin:0px;
}

#headeraktivität{
	margin-top:-100px;
	max-width:1605px;
	height:640px;
	background-position:relative;
	background-repeat:no-repeat;
	background-size: cover;
	background-image:url("images/wandern.jpg");
	box-shadow: 0px 0px 1px black;
	margin-bottom:75px;
}

.überschriftumgebung{
	font-weight:400;
	margin-bottom:80px;
	font-size:25px;	
	text-align:center;
}

.containerumgebung{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	margin-left:140px;
	margin-right:110px;
	margin-bottom:95px;
}

.itemumgebung{
	padding-right:25px;
	padding-left:25px;
}

#umgebung img{
	width:540px;
	height:360px;
}

.endeumgebung{
	text-align:center;
	font-size:20px;
	margin-bottom: ;
}

.wanderrouten a{
	text-decoration:none;
	color:hsl(360,0%,96%);
	font-size:20px;
	font-weight:250;
	font-family:Gill Sans, Helvetica, Arial, sans-serif;
	border:solid;
	border-width:1px;
	padding-top:16px;
	padding-bottom:16px;
	padding-left:50px;
	padding-right:50px;
	background-color:hsl(280,0%,10%);
}

.wanderrouten{
	margin-bottom:90px;
	text-align:center;
}

.textklein{
	font-size:15px;
}

#team{
	margin:0px;
}

.positionteam{
	margin-left:270px;
	margin-right:350px;
}

.positionteam img{
	width:518px;
	height:410px;
	padding-right:60px;
}

.containerteam{
	display:flex;
	flex-direction:row;
	justify-content:left;
	align-items:flex-end;
	margin-bottom:55px;
}

.containerteamende{
	display:flex;
	flex-direction:row;
	justify-content:left;
	align-items:flex-end;
	margin-bottom:135px;
}


.absatzende{
	margin-bottom:60px;
}